{% extends "brew/base.html" %}

{% block title %}Ferment{% endblock %}

{% block content %}

    <h1>{{ batch }}</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <a href="{% url 'brew:recipe_detail' batch.recipe.id %}"> {{ batch.recipe }} </a><br>

    Started: {{ batch.date }} <br>
    State: {{ batch.state }} <br>
    Age: {{ batch.age }} <br>

    <ol>
        {% for bottling in batch.bottling_set.all %}
        <li><a href="{% url 'brew:bottling_detail' bottling.id %}">{{ bottling.date }} | {{ bottling.abv }} | {{ bottling.age }} | </a></li>
    {% endfor %}
    </ol>

    <br>
    <a href="{% url 'brew:batch_index' %}">Back</a>

    <br><br>
    <a href="{% url 'brew:batch_update' batch.id %}"> update </a>


    <form action="{% url 'brew:batch_delete' batch.id %}" method="GET">
    <button class="btn btn-danger" type="submit">Delete</button>
    </form>


{% endblock %}