{% extends "brew/base.html" %}

{% block title %}Ferment{% endblock %}

{% block content %}

    <h1>{{ batch }}</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <a href="{% url 'brew:recipe_detail' batch.recipe.id %}"> {{ batch.recipe }} </a><br>

    Started: {{ batch.date }} <br>
    State: {{ batch.state }} <br>
    <br>
    Age: {{ batch.age}} <br>
    Age (timesince): {{ batch.date|timesince }} <br>
    Age (floatformat): {{ batch.age|floatformat:-2 }} <br>

    Time Fermenting: {{ batch.time_fermenting }} <br>

    <br><br>
    Started: {{ batch.date }} <br>
    Started|timesince: {{ batch.date|timesince }} <br>
    Now: {{ batch.now }} <br>
    Now (d): {{ batch.nowdays }} <br>
    Age: {{ batch.age|floatformat }} <br>


    <ol>
        {% for bottling in batch.bottling_set.all %}
            <li><a href="{% url 'brew:bottling_detail' bottling.id %}">{{ bottling.date }} | {{ bottling.abv }} | {{ bottling.age }} | </a></li>
        {% endfor %}
    </ol>

    <div class="row">
        <div class="col-md-1">
            <form action="{% url 'brew:measure_create' %}" method="POST">
                {% csrf_token %}
                <input type='hidden' name='batch' value='{{ batch.id }}' />
                <button class="btn btn-success" type="submit">Measure</button>
            </form>
        </div>

        <div class="col-md-1">
            <button class="btn btn-success" type="submit">Bottle</button>
        </div>

        <div class="col-md-1">
            <form action="{% url 'brew:batch_update' batch.id %}" method="GET">
                <button class="btn btn-warning" type="submit">Update</button>
            </form>
        </div>
        <div class="col-md-1">
            <form action="{% url 'brew:batch_delete' batch.id %}" method="GET">
                <button class="btn btn-danger" type="submit">Delete</button>
            </form>
        </div>
    </div>

{% endblock %}