{% extends "brew/base.html" %}

{% block title %}Ferment{% endblock title %}

{% block content %}
    <h3>Active Brews</h3>
    {% include "brew/batch_table.html" with batch_list=batch_list only %}



    <h3>Inactive Brews</h3>
    {% include "brew/batch_table.html" with batch_list=batch_list only %}



    <ul>
       <h1>Not Bottled</h1>
        {% for batch in batch_list %}
            {% if not batch.is_bottled %}
                <li><a href="{% url 'brew:batch_detail' batch.id %}"> {{ batch }}</a></li>
            {% endif %}
        {% empty %}
            <p>No batch defined.</p>
        {% endfor %}
    </ul>

    <h1>Bottled</h1>
    <ul>
        {% for batch in batch_list %}
            {% if batch.is_bottled %}
                <li><a href="{% url 'brew:batch_detail' batch.id %}"> {{ batch }}</a></li>
            {% endif %}
        {% empty %}
            <p>No batch defined.</p>
        {% endfor %}
    </ul>

{% endblock content %}
