{% extends "brew/base.html" %}

{% block title %}Ferment{% endblock %}

{% block content %}

    <h1>{{ batch }}</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <a href="{% url 'brew:recipe_detail' batch.recipe.id %}"> {{ batch.recipe }} </a><br>

    Started: {{ batch.date }} <br>
    State: {{ batch.state }} <br>
    Time Fermenting: {{ batch.time_fermenting }} <br>

    <br><br>
    Started: {{ batch.date }} <br>
    Started|timesince: {{ batch.date|timesince }} <br>
    Age: {{ batch.age|floatformat }} <br>


    <br><br>
    <ol>
        {% for measurements in batch.measurement_set.all %}
            <li>{{ measurements.date }} | {{ measurements.gravity_type }} | {{ measurements.gravity }} | {{ measurements.temperature }}</li>
        {% endfor %}
    </ol>

    <br><br>
    <ol>
        {% for bottling in batch.bottling_set.all %}
            <li><a href="{% url 'brew:bottling_detail' bottling.id %}">{{ bottling.date }} | {{ bottling.abv }} | {{ bottling.age }} | </a></li>
            <br><br>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{ bottling.secondary_fermentation_complete }}%;"><span class="sr-only">{{ bottling.secondary_fermentation_complete }}% Complete</span></div>
            </div>
        {% endfor %}
    </ol>

    <br><br>
    <div class="row">
        <div class="col-md-1">
            <form action="{% url 'brew:measure_create' %}" method="POST">
                {% csrf_token %}
                <input type='hidden' name='batch' value='{{ batch.id }}' />
                <button class="btn btn-success" type="submit">Measure</button>
            </form>
        </div>

        <div class="col-md-1">
            <button class="btn btn-success" type="submit">Bottle</button>
        </div>

        <div class="col-md-1">
            <form action="{% url 'brew:batch_update' batch.id %}" method="GET">
                <button class="btn btn-warning" type="submit">Update</button>
            </form>
        </div>
        <div class="col-md-1">
            <form action="{% url 'brew:batch_delete' batch.id %}" method="GET">
                <button class="btn btn-danger" type="submit">Delete</button>
            </form>
        </div>
    </div>

{% endblock %}