{% extends "brew/base.html" %}

{% block title %}Ferment{% endblock title %}

{% block content %}

    {% if messages %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <h1>Not Bottled</h1>
    <ul>
        {% for batch in batch_list %}
            {% if not batch.is_bottled %}
                <li><a href="{% url 'brew:batch_detail' batch.id %}"> {{ batch }}</a></li>
            {% endif %}
        {% empty %}
            <p>No batch defined.</p>
        {% endfor %}
    </ul>

    <h1>Bottled</h1>
    <ul>
        {% for batch in batch_list %}
            {% if batch.is_bottled %}
                <li><a href="{% url 'brew:batch_detail' batch.id %}"> {{ batch }}</a></li>
            {% endif %}
        {% empty %}
            <p>No batch defined.</p>
        {% endfor %}
    </ul>

{% endblock content %}
