        <div class="table">
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Batch</th>
                        <th>Recipe</th>
                        <th>Bottled</th>
                        <th>Duration</th>
                        <th class="text-right">Beers Left</th>
                        <th class="text-right">ABV</th>
                        <th>Marking</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bottling in bottling_list %}
                    <tr class="{% if bottling.num_remaining <= 0 %}danger
                                    {% endif %}">
                        <th scope="row">{{ bottling.id }}</th>
                        <td><a href="{% url 'brew:drink_detail' bottling.id %}">{{ bottling.batch }}</a> </td>
                        <td>{{ bottling.batch.recipe }}</td>
                        <td>{{ bottling.date }}</td>
                        <td class="{% if bottling.is_drinkable_in > 0 %}success
                                    {% elif bottling.is_drinkable_in > -6 %}warning
                                    {% else %}danger
                                    {% endif %}">{{ bottling.date|timesince }}</td>
                        <td class="text-right">{{ bottling.num_remaining }}</td>
                        <td class="text-right">{{ bottling.abv|floatformat:"2" }}%</td>
                        <td>{{ bottling.markings }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> <!-- .table-responsive -->
