{% extends "brew/base.html" %}

{% block title %}Brew{% endblock title %}

{% block content %}
	<ul>
	<li><a href="{% url 'brew:recipe_index' %}">Prepare</a></li>
	<li><a href="{% url 'brew:batch_index' %}">Ferment</a></li>
	<li><a href="{% url 'brew:bottling_index' %}">Bottling</a></li>
	</ul>

<h1>new DT</h1>
<input size="16" type="text" readonly class="form_datetime">

<script type="text/javascript">
    $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
</script>


{% endblock content %}
