{% extends "brew/base.html" %}

{% block title %}Brew{% endblock title %}

{% block content %}
	<ul>
	<li><a href="{% url 'brew:recipe_index' %}">Prepare</a></li>
	<li><a href="{% url 'brew:batch_index' %}">Ferment</a></li>
	<li><a href="{% url 'brew:bottling_index' %}">Bottling</a></li>
	</ul>

This should be a tiled/dashboard
    - Batches fermenting
    - Batches ready
    - Bottles available

Note:
    Batch.is_bottled counts how many Bottlings have occured.
    BatchIndexView works out how many bottles were bottled in all Bottlings.
    Difference will occur if there's a bottling of 0.
        Options:
            Automated testing - Bottlings can't have 0 bottles
            Sync logic




{% endblock content %}
