{% extends "brew/base.html" %}

{% block title %}Prepare{% endblock title %}

{% block content %}

<h1>{{ recipe }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% for ingredient in recipe.ingredient.all %}
    <input type="checkbox" name="ingredient" id="ingredient{{ forloop.counter }}" value="{{ ingredient.id }}" />
    <label for="ingredient{{ forloop.counter }}">{{ ingredient }}</label><br />
{% endfor %}

<br><br>
<div class="row">
    <div class="col-md-1">
        <form action="{% url 'brew:batch_create' %}" method="POST">
            {% csrf_token %}
            <input type='hidden' name='recipe' value='{{ recipe.id }}' />
            <button class="btn btn-success" type="submit">Brew</button>
        </form>
    </div>

    <div class="col-md-1">
        <form action="{% url 'brew:recipe_update' recipe.id %}" method="get">
            <button class="btn btn-warning" type="submit">Update</button>
        </form>
    </div>

    <div class="col-md-1">
        <form action="{% url 'brew:recipe_delete' recipe.id %}" method="POST">
            {% csrf_token %}
            <input type='hidden' name='recipe' value='{{ recipe.id }}' />
            <button class="btn btn-danger" type="submit">Remove</button>
        </form>
    </div>
</div>

{% if recipe.batch_set.all %}
    <h1>Active Brews:</h1>
    <ol>
    {% for batch in recipe.batch_set.all %}
        {% if not batch.is_bottled %}
            <li><a href="{% url 'brew:batch_detail' batch.id %}"> {{ batch }}</a></li>
        {% endif %}
    {% endfor %}
    </ol>

    <h1>Past Brews:</h1>
    <ol>
        {% for batch in recipe.batch_set.all %}
            {% if batch.is_bottled %}
                <li><a href="{% url 'brew:batch_detail' batch.id %}">{{ batch }}</a></li>
            {% endif %}
        {% endfor %}
    </ol>

{% endif%}

{% endblock content %}

{% block comments %}
    {% include "brew/comment_post.html" with object=recipe redirect_url='brew:recipe_detail' %}
{% endblock comments %}