{% extends "brew/base.html" %}

{% block title %}Prepare{% endblock title %}

{% block content %}

<h1>{{ recipe }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'brew:recipe_update' recipe.id %}" method="post">
{% csrf_token %}
{% for ingredient in recipe.ingredient.all %}
    <input type="checkbox" name="ingredient" id="ingredient{{ forloop.counter }}" value="{{ ingredient.id }}" />
    <label for="ingredient{{ forloop.counter }}">{{ ingredient }}</label><br />
{% endfor %}
<input type="submit" value="Remove" />
</form>

Past Brews:

<ol>
    {% for batch in recipe.batch_set.all %}
        <li><a href="{% url 'brew:batch_detail' batch.id %}">{{ batch }}</a></li>
    {% endfor %}
</ol>

<a href="{% url 'brew:batch_create' recipe.id %}"> </a>

<a href="/brew/"><input type="submit" value="New Batch" /></a>

{% endblock content %}